<div class="about-section"><img src="./assets/img/about/about-bg.jpeg" style="width: 100%;height: 200px;object-fit: cover;"></div>
  
<div class="container">
  <div class="row">
    <div class="column">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/about/about1.jpeg" class="card-img-top" alt="Mike">
            <div class="card-body">
              <h5 class="card-title">Jeff Bezos</h5>
              <p class="title">Co-Founder</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  class="btn btn-primary">contact</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/about/about2.jpeg" class="card-img-top" alt="Mike">
            <div class="card-body">
              <h5 class="card-title">Medrina Bainy</h5>
              <p class="title">Art Director</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  class="btn btn-primary">contact</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/about/about3.jpeg" class="card-img-top" alt="Mike">
            <div class="card-body">
              <h5 class="card-title">Elon Musk</h5>
              <p class="title">Sales Director</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  class="btn btn-primary">contact</a>
            </div>
        </div>
    </div>
  </div>
</div>
  